/* Simple Flat Social buttons */

.snav {
	padding: 0;
	list-style-type: none;
}
.snav ul {
	margin: 0;
	padding: 0;
}
.snav li {
	float: left;
}
.sbtn {
	display: block;
	color: #fff;
	width: 40px;
	height: 40px;
	background-color: #bebebe;
	font-size: 30px;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: normal;
	border-radius: 1px;
	margin: 2px;
	transform: translateY(0px);
	transition: all 0.1s ease-in-out 0.2s;
}
/* Grow on hover */

.sbtn:hover {
	border-radius: 4px;
	color: #fff;
	transform: translateY(-4px);
	transition: all 0.1s ease-in-out 0s;
}
/* Colors for the buttons*/

.sbtn-github {
	background-color: #444c50;
}
.sbtn-soundcloud {
	background-color: #FF6600;
}
.sbtn-youtube {
	background-color: #bb0000;
}
.sbtn-spotify {
	background-color: #80B719;
}
.sbtn-email {
	background-color: #F2D523;
}
/* So responsive */

@media (max-width: 768px) {
	.snav {
		margin: 0 auto;
		max-width: 352px;
		height: 42px;
		max-height: 82px;
	}
}
