/* Simple Flat Social buttons */

.snav {
	padding: 0;
	list-style-type: none;
}
.snav ul {

	margin: 0;
	padding: 0;
}
.snav li {
	float: left;
}
.sbtn {
	display: block;
	color: #fff;
	width: 40px;
	height: 40px;
	background-color: #bebebe;
	font-size: 30px;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 40px;
	border-radius: 1px;
	margin: 2px;
	transition-property: height, width, font-size, line-height, margin;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(.03, 1.01, .83, .68);
	/* Cross browser*/
	-webkit-transition-property: height, width, font-size, line-height, margin;
	-webkit-transition-duration: 0.2s;
	-webkittransition-timing-function: cubic-bezier(.03, 1.01, .83, .68);
}
/* Grow on hover */

.sbtn:hover {
	color: #fff;
	width: 42px;
	height: 42px;
	margin: 1px;
	font-size: 32px;
	line-height: 42px;
	transition-property: height, width, font-size, line-height, margin;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(.03, 1.01, .83, .68);
	/* Cross browser*/
	-webkit-transition-property: height, width, font-size, line-height, margin;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: cubic-bezier(.03, 1.01, .83, .68);
}
/* Colors for the buttons*/

.sbtn-home {
	background-color: #2d75f8;
}
.sbtn-blog {
	background-color: #0088CC;
}
.sbtn-github {
	background-color: #444c50;
}
.sbtn-soundcloud {
	background-color: #FF6600;
}
.sbtn-youtube {
	background-color: #bb0000;
}
.sbtn-spotify {
	background-color: #80B719;
}
.sbtn-email {
	background-color: #F2D523;
}
.sbtn-music {
	background-color: #4c8ea7;
}
