@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700&subset=latin,latin-ext);
@import url(//fonts.googleapis.com/css?family=Ubuntu+Mono&subset=latin,latin-ext);
html,
body {
	height: 100%;
}
body {
	position: relative;
	padding-bottom: 20px;
}
.header {
	padding-right: 15px;
	padding-left: 15px;
}
.navigation {
	float: none;
}
/* Paragraphz */

.standout {
	font-size: 22px;
	font-weight: 300;
	color: #f0f0f0;
}
/* Customize container */

@media (min-width: 768px) {
	.container {
		max-width: 800px;
		/*padding-top: 20px;*/
	}
	.navigation {
		float: right !important;
	}
	.header {
		border-bottom: 1px solid #e5e5e5;
	}
}
/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
	/* Remove the padding we set earlier */
	.header {
		padding-right: 0;
		padding-left: 0;
	}
	.header {
		margin-bottom: 5px;
		padding-top: 20px;
	}
}
.header h3 {
	padding-bottom: 19px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	top: 0
}
/*Sticky Footer*/

.datfooter {
	height: 90px;
	padding: 30px;
	background-color: transparent;
	margin: 0 auto;
	vertical-align: middle;
	text-overflow: clip;
	display: block;
	background-image: url('/images/stripes.png');
	background-position: fixed;
	opacity: 50%;
}
.container {
	min-height: 100%;
	margin-bottom: -70px;
}
.container:after {
	content: "";
	display: block;
	height: 80px;
}
/* Links */

a,
a:focus {
	color: #fcbf5d;
}
a:hover {
	color: #c0eafc;
	text-decoration: none;
}
html,
body {
	height: 100%;
	background-image: url('/images/Background.png');
	background-color: #002a5c;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	color: #f0f0f0;
	text-align: center;
}
.inner {
	padding: 30px;
}
@media (max-width: 768px) {
	.header {
		margin-top: 20px;
		padding-bottom: 20px;
	}
	.standout {
		font-size: 18px;
	}
}
/*
 * Affix and center
 */

.navigation {
	vertical-align: middle;
}
@media (min-width: 992px) {
	.container {
		width: 800px
	}
	.header {
		border-bottom: 1px solid #e5e5e5;
	}
}
.blog {
	text-align: left;
	overflow: hidden;
}
.leftest-text {
	text-align: left;
}
.nolinks,
.nolinks a,
.nolinks a:visited {
	color: #e6e6e6;
}
.nolinks a:hover {
	color: #c0eafc;
	text-decoration: none;
}
.rightest-text {
	text-align: right;
}
.archive {
	display: block;
}
.archive span {
	display: block;
	float: right
}
.blogimageL {
	text-align: left;
	position: absolute;
	float: left
}
.blogimageR {
	text-align: right;
	float: right;
}
.border {
	border: 2px solid #fcfcfc;
	border-radius: 7px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.space {
	margin-left: 8px;
	margin-right: 8px;
}
.monospace {
	font-family: 'Ubuntu Mono';
}
body {
	font-family: 'Open Sans';
}
